<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.workarounds.define">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:name=".DefineApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/Theme.CustomTranslucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.PermissionsActivity"
            android:label="@string/permissions_page_title" />
        <activity
            android:name=".ui.activity.DashboardActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".ui.activity.DictionariesActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.activity.TutorialActivity"
            android:label="@string/app_name" />

        <activity android:name=".ui.activity.UserPrefActivity"
            android:exported="true"
            android:label="@string/activity_settings" />

        <activity
            android:name=".ui.activity.DictOrderActivity"
            android:exported="true"
            android:label="@string/app_name" />

        <service
            android:name="in.workarounds.define.service.ClipboardService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".file.unzip.UnzipService"
            android:enabled="true"
            android:exported="false" />


        <receiver
            android:name=".receiver.BootUpReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.DownloadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
